.pooji:hover{
    color:blueviolet;
    background-color: aqua;
}
#r:hover{
    color:blue;
    background-color: red;
}
#s:hover{
    color:bisque;
    background-color:pink;
}
#p:hover{
    color:aqua;
    background-color: yellow;
}
#su:hover{
    color:yellowgreen;
    background-color: green;
}
#rajesh:hover{
    color:pink;
    background-color: blue;
}
#uma:hover{
    color:bisque;
    background-color: grey;
}
#divya:hover{
    color:violet;
    background-color: aqua;
}
#kiran:hover{
    color:red;
    background-color: blue;
}



